{
    "sourceFile": "backend/.env.example",
    "activeCommit": 0,
    "commits": [
        {
            "activePatchIndex": 0,
            "patches": [
                {
                    "date": 1769702574820,
                    "content": "Index: \n===================================================================\n--- \n+++ \n"
                }
            ],
            "date": 1769702574820,
            "name": "Commit-0",
            "content": "\nMONGO_URI=mongodb://localhost:27017/instagram\nPORT=3000\nJWT_SECRET=your_super_secret_jwt_key_change_this_in_production\n"
        }
    ]
}