* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-username,
.sidebar-current-username,
.profile-username-row,
.profile-post-modal-username,
.profile-post-modal-comment-username,
.home-sidebar-current-username,
.home-create-username,
.home-create-username-handle,
.home-create-username-fullname,
.home-post-username,
.home-post-caption-username,
.home-notification-username,
.home-search-result-username,
.home-search-recent-username,
.explore-sidebar-current-username,
.explore-sidebar-current-name,
.explore-modal-comment-username,
.messages-chat-username,
.messages-chat-header-username,
.messages-chats-my-name,
.messages-profile-name,
.search-recent-username,
.search-post-username,
.search-post-caption-username,
.home-post-modal-comment-username,
.saved-modal-comment-username,
.global-search-recent-username,
.global-search-result-username,
.app-sidebar-current-name,
.app-sidebar-current-username,
.edit-profile-name {
  font-family: 'Praise', cursive;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --sidebar-width: 244px;
  --container-width: 1440px;
  --header-height: 60px;
}

@media screen and (min-width: 1440px) {
  :root {
    --sidebar-width: 244px;
  }
}

@media screen and (max-width: 1439px) {
  :root {
    --sidebar-width: 200px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --sidebar-width: 80px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --sidebar-width: 0px;
    --header-height: 50px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --sidebar-width: 0px;
    --header-height: 50px;
  }
}

@media screen and (max-width: 320px) {
  :root {
    --sidebar-width: 0px;
    --header-height: 45px;
  }
}

.hide-on-mobile {
  display: block;
}

.hide-on-tablet {
  display: block;
}

.hide-on-desktop {
  display: none;
}

@media screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
  }
  .hide-on-tablet {
    display: block !important;
  }
  .hide-on-desktop {
    display: block !important;
  }
}

@media screen and (max-width: 480px) {
  .hide-on-mobile {
    display: none !important;
  }
  .hide-on-tablet {
    display: none !important;
  }
}

@media (hover: none) and (pointer: coarse) {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  button,
  a {
    min-height: 44px;
    min-width: 44px;
  }
}
